<div class='banner'>

<%= image_tag("anem.png", :class => "img_purple") %>




 <div id='portfolio'> <%= link_to "Portfolio", posts_path, :id => 'portfolio_link' %>
 <%= image_tag("peonie.png", :class => "img_corn")%> </div>



  <div id='title'>
     <h1> Flower Weasel </h1>
  </div>

  <div id='contact'> <%= link_to "contact", page_path("contact"), :id => 'contact_link' %> <%= image_tag("tehe.png", :class => "img_pink")%> </div>

  <div id='shop'> shop <%= image_tag("anemone.png", :class => "img_red")%>  </div>


  <div id='about'>  <%= link_to "about", page_path("about"), :id => 'about_link' %> </div>


</div>


<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>

      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->

    <!-- Copyright -->

  </footer>
  <!-- Footer -->
