
<h1>Flower Weasel </h1>

<div class="container">
  <div class="row">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" backgroun>
          <div class="card-description">
            <h1>Social Pantry</h1>
          <div> <%= image_tag "DSC00257.JPG", :class => "image" %> </div>
            <h2>Tropical leaves with soft whites and delicate pinks for a rustic feast</h2>
          </div>
        </div>
      </div>
  </div>


  <div class="row">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" backgroun>
          <div class="card-description">
            <h1>Glamour </h1>
          <div> <%= image_tag "IMG_6018.jpg" , :class => "image"%> </div>
            <h2>Pop inspired colour for Glamour beauty breakfasts</h2>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>



  <div class="row">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" backgroun>
          <div class="card-description">
            <h1>B The Agency</h1>
          <div> <%= image_tag "IMG_6018.jpg" , :class => "image"%> </div>
            <h2>Etherial woodland for Christmas in July showcase</h2>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>



  <div class="row">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" backgroun>
          <div class="card-description">
            <h1>Clapton Country Club</h1>
          <div> <%= image_tag "IMG_6018.jpg" , :class => "image"%> </div>
            <h2>Fresh greens and whites sitting beautifuly with brick, metal and wood</h2>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>


  <div class="row">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" backgroun>
          <div class="card-description">
            <h1>Vougue House Showcase</h1>
          <div> <%= image_tag "IMG_6018.jpg" , :class => "image"%> </div>
            <h2>Jam jars filled with free and joyful blooms</h2>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>



  <div class="row">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" backgroun>
          <div class="card-description">
            <h1>Marula Beauty</h1>
          <div> <%= image_tag "IMG_6018.jpg" , :class => "image"%> </div>
            <h2>Art deco sophistication, soft textures and grassy stems</h2>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>








<%= link_to 'Home', root_path %>



