


<%= link_to "Flower Weasel" :class => , root_path %>


<div class="container">

        <div class="card">
          <div class="card-description">
            <h1>Social Pantry</h1>
          <div> <%= image_tag "DSC00257.JPG", :class => "image"  %> </div>
            <h2>Tropical leaves with soft whites and delicate pinks for a rustic feast.</h2>
          </div>
        </div>





       <div class="card">
        <div class="card-description">
           <h1> Glamour </h1>
           <div> <%= image_tag "IMG_6018.jpg" , :class => "image"%> </div>
            <h2>Pop inspired colour for Glamour beauty breakfasts.</h2>
          </div>
        </div>






        <div class="card" >
          <div class="card-description">
            <h1>B The Agency</h1>
          <div> <%= image_tag "DSC00320.JPG" , :class => "image"%> </div>
            <h2>Etherial woodland for Christmas in July showcase.</h2>
          </div>
        </div>





        <div class="card" >
          <div class="card-description">
            <h1>Clapton Country Club</h1>
          <div> <%= image_tag "DSC00860.JPG" , :class => "image"%> </div>
            <h2>Fresh greens and whites sitting beautifuly with brick, metal and wood.</h2>
          </div>
        </div>


        <div class="card" >
          <div class="card-description">
            <h1>Vogue House</h1>
          <div> <%= image_tag "IMG_4450.jpg" , :class => "image"%> </div>
            <h2>Jam jars filled with free and joyful blooms.</h2>
          </div>
        </div>




        <div class="card" >
          <div class="card-description">
            <h1>Marula Beauty</h1>
          <div> <%= image_tag "DSC00782.JPG" , :class => "image"%> </div>
            <h2>Art deco sophistication, soft textures and grassy stems.</h2>
          </div>
        </div>


</div>







<%= link_to 'Home', root_path %>



